# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
myenv/
env/

# Django
.env
.env.*
staticfiles/
media/
.vscode
vendor_documents

# Node / Frontend
node_modules/
dist/

# OS
.DS_Store
Thumbs.db
